[Unit]
Description=Run FastAPI yFinance Script at Boot
# Ensures the network is ready before running
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# Use your non-root user for security
User=azureuser
Group=azureuser
WorkingDirectory=/home/azureuser/app
ExecStart=/bin/bash run.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
